.hero {
	background: black url(../public/img/black-spectacles-otop-an-open-book.jpg) center / cover;
}

.hero-head p {
	font-size: 13px;
}

.hero-head p.has-text-white a, footer a, footer strong {
	color: white;
}
.hero-head p.has-text-white a:hover {
	text-decoration: underline;
}

footer.footer {
	color: white;
	background-color: #5c3a22;  /*fallback color if gradients are not supported */
  	background-image: -webkit-linear-gradient(#5c3a22, Black); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  	background-image:    -moz-linear-gradient(#5c3a22, Black); /* For Firefox (3.6 to 15) */
  	background-image:      -o-linear-gradient(#5c3a22, Black); /* For old Opera (11.1 to 12.0) */ 
  	background-image:         linear-gradient(#5c3a22, Black); /* Standard syntax; must be last */
  	padding-top: 1rem !important; 
  	padding-bottom: 2rem !important; 
}
footer a {
	text-decoration: underline;
}
footer a:hover {
	color: #FFA15E;
}

#btn-msg-fr a, #btn-msg-en a{
  text-decoration: none;
}

/* HELPERS */
.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

/* LANG */
body.fr [lang=en] {
	display: none;
}
body.en [lang=fr] {
	display: none;
}

/* LANG ANIMATIONS */
.fadeIn{
    -webkit-animation: 1s ease 0s normal forwards 1 fadein;
    animation: 1s ease 0s normal forwards 1 fadein;
}
@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.fadeOut{
    -webkit-animation: 1s ease 0s normal forwards 1 fadeout;
    animation: 1s ease 0s normal forwards 1 fadeout;
}
@keyframes fadeout{
    0% { opacity:1; }
    66% { opacity:0; }
    100% { opacity:0; }
}
@-webkit-keyframes fadeout{
    0% { opacity:1; }
    66% { opacity:0; }
    100% { opacity:0; }
}

/* MEDIA QUERIES */
/*
Bulma has 5 breakpoints
	mobile: up to 768px
	tablet: from 769px
	desktop: from 1024px
	widescreen: from 1216px
	fullhd: from 1408px
*/
@media only screen and (min-width: 501px) {
	/* Appareils avec une résolution au-dessus de 500px */
}
@media only screen and (max-width: 500px) {
	/* Appareils avec une résolution de 500 pixels ou moins */
}
@media (max-width: 1024px) {
	/* .desktop {
		display: none;
	} */
}